.App {
  text-align: left;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.BuildingContainer {

  width: 1027px;
  background-size: 1027px 1324px;
}
.Building {
  position:relative;

}

.ElevatorContainer {
  position:absolute;
  top: 265px;
  left: 229px;
  width: 290px;
  height: 966px;
}

.Elevator {
  position: absolute;
  left: -24px;
  bottom: 0;
  width: 310px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes elevatorMoving {
  from {

  }
}
